* {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
  width: 200px;
  border-radius: 5%;
}

.flip {
  transform: scaleX(-1);
}
.container {
  background-color: lightgray;
  min-height: 600px;
  width: 800px;
  text-align: center;
  padding: 13px;
  margin: 0 auto;
}

h1 {
  color: black;
}

.pl {margin-top: 13px;}

.blue {
  background-color: rgb(0, 166, 255);
  min-height: 200px;
  padding: 13px;
  display: flex;
  justify-content: space-between;
}

.pink {
  background-color: rgb(212, 130, 220);
  min-height: 200px;
  padding: 13px;
  display: flex;
  justify-content: space-evenly;
}

.white {
  background-color: white;
  min-height: 200px;
  padding: 13px;
  display: flex;
  justify-content: space-evenly;
}